.label, .label + p{
    font-size: 16px;
}

.label{
    min-width: 220px;
}
.primary-table {
    background: #e8f5e9 !important
}
.primary-table th{
    background: #09425A;
    color: white
}

.primary-table td{
    background: white;
}

.sug-area[disabled]{
    border: 2px solid transparent;
    background: white;
    color: #09425A
}

.sug-area{
    min-height: 108px;
    border: 2px solid #09425A;
    color: black;
}
.collapse-header-text {
    font-weight: bold;
    color: #00C994 !important;
    font-size: 18px;
}

.personInfo {
    position: relative;
    background: #e8f5e9;
    margin: 0;
    padding-top: 10px;
    border-radius: 5px;
}
.btn-edit-surgery-profile {
    z-index: 1000;
    position: absolute;
    top: 2px;
    right: 2px;
}
.body-surgery-profile-modal span{
    /* font-weight: bold */
}