<!-- <nz-alert class="mb-5" nzType="info" nzMessage="{{messageInfo}}" nzShowIcon></nz-alert> -->
<div class="mb-5 p-3" style="background: rgb(247, 247, 247);">
  <nz-steps [nzCurrent]="currentStatus" nzProgressDot>
    <nz-step nzTitle="Preoperative"></nz-step>
    <nz-step nzTitle="Intraoperative"></nz-step>
    <nz-step nzTitle="Postoperative"></nz-step>
    <nz-step nzTitle="Recovery"></nz-step>
    <nz-step nzTitle="Finished"></nz-step>
  </nz-steps>
</div>
<h2 style="text-align: center; margin-bottom: 50px">Information of Surgery Shift</h2>
<nz-spin [nzSpinning]="state.load">
  <div class="row personInfo mb-4">
    <div class="col-md-6 col-12 d-flex">
      <div class="label">
        <b>Patient</b>
      </div>
      <p>: {{data?.patientName}}</p>
    </div>
    <div class="col-md-6 col-12 d-flex">
      <div class="label">
        <b>Gender</b>
      </div>
      <p>: {{data?.gender}}</p>
    </div>
    <div class="col-md-6 col-12 d-flex">
      <div class="label">
        <b>Age</b>
      </div>
      <p>: {{data?.age}}</p>
    </div>
    <div class="col-md-6 col-12 d-flex">
      <div class="label">
        <b>Specialty</b>
      </div>
      <p>: {{data?.specialty}}</p>
    </div>
    <div class="col-md-6 col-12 d-flex">
      <div class="label">
        <b>Surgery Name</b>
      </div>
      <p>: {{data?.surgeryName}}</p>
    </div>
    <div class="col-md-6 col-12 d-flex">
      <div class="label">
        <b>Type Of Surgery</b>
      </div>
      <p>: {{data?.surgeryType}}</p>
    </div>
    <div class="col-md-6 col-12 d-flex">
      <div class="label">
        <b>Estimated Start Time</b>
      </div>
      <p>: {{data?.startTime ? (data.startTime | date: 'dd/MM/yyyy - HH:mm') : 'N/A'}}</p>
    </div>
    <div class="col-md-6 col-12 d-flex">
      <div class="label">
        <b>Estimated End Time</b>
      </div>
      <p>: {{data?.endTime ? (data.endTime | date: 'dd/MM/yyyy - HH:mm') : 'N/A'}}</p>
    </div>
    <div class="col-md-6 col-12 d-flex">
      <div class="label">
        <b>Actual Start Time</b>
      </div>
      <p>: {{data?.actualStartTime ? (data.actualStartTime | date: 'dd/MM/yyyy - HH:mm') : 'N/A'}}</p>
    </div>
    <div class="col-md-6 col-12 d-flex">
      <div class="label">
        <b>Actual End Time</b>
      </div>
      <p>: {{data?.actualEndTime ? (data.actualEndTime | date: 'dd/MM/yyyy - HH:mm') : 'N/A'}}</p>
    </div>
  </div>
</nz-spin>

<nz-divider></nz-divider>

<nz-collapse [nzBordered]="false">
  <nz-collapse-panel class="primary-table" [nzHeader]="'Surgery Information Detail'" [ngStyle]="customeStyle"
    nzExpandedIcon="expandedIcon">
    <div class="row">
      <div class="col-md-6">
        <div>
          <h4>Performed Ekip: </h4>
          <ng-container *ngIf="data?.ekipMember?.length > 0; else noDoctor">
            <div class=" mb-2" *ngFor="let doctor of data.ekipMember">
              <b class="ml-5" style="color:#009ABB">{{doctor.workJob}} : </b><span>{{doctor.name}}</span>
            </div>
          </ng-container>
          <ng-template #noDoctor>
            <p>There is no ekip member</p>
          </ng-template>
        </div>
        <div>
          <h4>Medical Supplies Used</h4>
          <nz-table #supplyUsedTable [nzData]="surgeryDetail.supplyUsed" [nzLoading]="state.loadGetSupply"
            [nzFrontPagination]="false" [nzShowPagination]="false">
            <thead>
              <tr>
                <th>No.</th>
                <th>Name</th>
                <th class="text-center">Quantity</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of supplyUsedTable.data; let i = index">
                <td>{{i + 1}}</td>
                <td>{{data.medicalSupplyName}}</td>
                <td class="text-center">{{data.quantity}}</td>
              </tr>
            </tbody>
          </nz-table>
          <div class="text-right mt-2">
            <button (click)="state.showAddSupply = true; createNewForm()" nz-button nzType="primary" class="mb-2">
              <i nz-icon type="edit"></i>
                Edit
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h4>Surgery Procedure</h4>
        <nz-spin [nzSpinning]="state.loadSaveProcedure">
          <div>
            <textarea class="sug-area" [disabled]="!state.editMode" rows="20" nz-input
              [(ngModel)]="surgeryDetail.surgeryProcedure"></textarea>
            <div class="text-right mt-2">
              <button *ngIf="!state.editMode" (click)="state.editMode = true" nz-button nzType="primary" class="mb-2">
                <i nz-icon type="edit"></i>
                Edit
              </button>
              <ng-container *ngIf="state.editMode">
                <button (click)="state.editMode = false; surgeryDetail.surgeryProcedure = surgeryDetail.containData"
                  nz-button nzType="danger" class="mb-2 mr-2">
                  <i nz-icon type="close"></i>
                  Cancel
                </button>
                <button [disabled]="surgeryDetail.surgeryProcedure === surgeryDetail.containData"
                  (click)="saveSurgeryProcedure()" nz-button nzType="primary" class="mb-2">
                  <i nz-icon type="check"></i>
                  Save
                </button>
              </ng-container>
            </div>
          
          </div>
        </nz-spin>
      </div>
    </div>
    <ng-template #expandedIcon let-active>
      <i nz-icon type="down" theme="outline" class="ant-collapse-arrow" nzRotate="p.nzActive ? 90 : -90"></i>
    </ng-template>
  </nz-collapse-panel>
</nz-collapse>

<app-treatment [id]="id" [data]="data"></app-treatment>

<nz-collapse [nzBordered]="false">
  <nz-collapse-panel class="primary-table" [nzHeader]="'Healthcare Reports'" [ngStyle]="customeStyle" nzExpandedIcon="expandedIcon">
    <div class="mb-2">
      <nz-table #healthcareTable [nzData]="healthcareDetail.healthcareReport" [nzLoading]="state.loadHealthcare"
      [nzFrontPagination]="false" [nzShowPagination]="false">
      <thead>
        <tr>
          <th>No</th>
          <th>From</th>
          <th>Wound Condition</th>
          <th>Event Content</th>
          <th>Care Content</th>
          <th>Nurse</th>
        </tr>
      </thead>
      <tbody>
        <ng-template ngFor let-data [ngForOf]="healthcareTable.data" let-i="index">
          <tr>
            <td>{{i + 1}}</td>
            <td>{{data.dateCreated}}</td>
            <ng-container *ngIf="data.woundCondition === 1; else elseBlock"><td><nz-tag [nzColor]="'green'">Good</nz-tag> </td></ng-container>
            <ng-template #elseBlock><td><nz-tag [nzColor]="'red'">Bad</nz-tag> </td></ng-template>
            
            <td>{{data.eventContent}}</td>
            <td>{{data.careContent}}</td>
            <td>{{data.nurseName}}</td>
          </tr>
        </ng-template>
      </tbody>
    </nz-table>
    </div>
    <ng-template #expandedIcon let-active>
      <i nz-icon type="down" theme="outline" class="ant-collapse-arrow" nzRotate="p.nzActive ? 90 : -90"></i>
    </ng-template>
  </nz-collapse-panel>
</nz-collapse>

<div *ngIf="data" class="text-right">
  <ng-container [ngSwitch]="data.statusName">
    <ng-container *ngSwitchCase="'Postoperative'">
      <button (click)="openStartShift()" nz-button nzType="primary" class="mr-2">Move to Recovery</button>
    </ng-container>
    <ng-container *ngSwitchCase="'Recovery'">
      <button (click)="showConfirm()" nz-button nzType="primary" class="mr-2">Finish Surgery Shift</button>
    </ng-container>
    <ng-container *ngSwitchCase="'Intraoperative'">
      <button (click)="openStartShift()" nz-button nzType="primary" class="mr-2">Complete Surgery Shift</button>
    </ng-container>
    <ng-container *ngSwitchCase="'Preoperative'">
      <button (click)="openStartShift()" nz-button nzType="primary" class="mr-2">Start Surgery Shift</button>
    </ng-container>
    <ng-container *ngSwitchDefault>
    </ng-container>
  </ng-container>

 
  <nz-dropdown [nzPlacement]="'topRight'">
    <button nz-button nzType="default" nz-dropdown (click)="exportSurgery()"><span>Export Surgery Report</span> <i nz-icon type="up"></i></button>
    <ul nz-menu>
      <li nz-menu-item>
        <a>1st menu item</a>
      </li>
      <li nz-menu-item>
        <a>2nd menu item</a>
      </li>
      <li nz-menu-item>
        <a>3rd menu item</a>
      </li>
    </ul>
  </nz-dropdown>
</div>
<!-- Modal Add Supply -->
<nz-modal nzWidth="800" [(nzVisible)]="state.showAddSupply" nzTitle="Add User Medical Supply"
  [nzContent]="createSupplyBody" [nzFooter]="createSupplyFooter" (nzOnCancel)="state.showAddSupply = false">
  <ng-template #createSupplyBody>
    <nz-spin [nzSpinning]="state.loadAddSupply">
      <form *ngIf="surgeryDetail.supplyForm" nz-form [nzLayout]="'inline'" [formGroup]="surgeryDetail.supplyForm">
        <div formArrayName="listSupply" 
          *ngFor="let item of surgeryDetail.supplyForm.get('listSupply').controls; let i = index;">
          <div [formGroupName]="i">
            <nz-form-item>
              <nz-form-label>Name</nz-form-label>
              <nz-form-control>
                <nz-select style="width: 300px" formControlName="medicalSupplyId" nzShowSearch  [nzServerSearch]="true"
                  nzPlaceHolder="Select a supply" (nzOnSearch)="searchSupply($event)">
                    <nz-option *ngFor="let item of common.supplies; trackBy: trackByFnSupply" [nzLabel]="item.medicalSupplyName"
                    [nzValue]="item.medicalSupplyId"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label>Quantity</nz-form-label>
              <nz-form-control>
                <nz-input-number formControlName="quantity" [nzMin]="1" [nzStep]="1"></nz-input-number>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control>
                <button (click)="deleteFormSupply(i); pushDeleteSupplyId(item.controls['id'].value)" nz-button nzType="danger" nzShape="round"><i nz-icon
                    type="close"></i></button>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </form>
      <div class="text-right">
        <button nz-button nzType="primary" class="mb-2" (click)="addFormSupply()">
          <i nz-icon type="plus" theme="outline"></i>
        </button>
      </div>
    </nz-spin>
  </ng-template>
  <ng-template #createSupplyFooter>
    <div class="text-right">
      <button [disabled]="state.loadAddSupply" (click)="state.showAddSupply = false" nz-button nzType="default"
        class="mb-2 mr-2">
        Cancel
      </button>
      <button
        [disabled]="state.loadAddSupply || surgeryDetail.supplyForm?.value?.listSupply.length === 0 || surgeryDetail.supplyForm?.invalid"
        (click)="submitAddSupplyForm()" nz-button nzType="primary" class="mb-2">
        Save
      </button>
    </div>
  </ng-template>
</nz-modal>

<nz-modal [(nzVisible)]="state.showStatusModal" [nzTitle]="startTitle" [nzContent]="startContent"
  [nzFooter]="startFooter" (nzOnCancel)="state.showStatusModal = false">
  <ng-template #startTitle>
    Change Status
  </ng-template>

  <ng-template #startContent>
    <div *ngIf="data?.statusName === 'Intraoperative' || data?.statusName === 'Preoperative' ">
      <p><b>Surgery Shift:</b> {{data?.id}} </p>
      <p><b>Estimated Start Datetime:</b> {{data?.startTime | date: 'dd/MM/yyyy - HH:mm'}} </p>
      <p><b>Estimated End Datetime:</b> {{data?.endTime | date: 'dd/MM/yyyy - HH:mm'}}</p>
      <label class="mr-2">
        <b>Actual {{data?.statusName === 'Preoperative' ? 'Start' : 'End'}} Time:</b>
      </label>
      <nz-time-picker [nzFormat]="'HH:mm'" [(ngModel)]="selected.selectedTime"></nz-time-picker>
    </div>
    <div *ngIf="data?.statusName === 'Postoperative'" class="row">
      <div class="col-6">
        <nz-form-item>
          <nz-form-label><b>Room</b></nz-form-label>
          <nz-form-control>
            <input nz-input [(ngModel)]="selected.selectedRoom">
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col-6">
        <nz-form-item>
          <nz-form-label><b>Bed</b></nz-form-label>
          <nz-form-control>
            <input nz-input [(ngModel)]="selected.selectedBed">
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </ng-template>

  <ng-template #startFooter>
    <button nz-button nzType="default" (click)="state.showStatusModal = false">Cancel</button>
    <button *ngIf="data?.statusName != 'Postoperative'" [disabled]="state.loadChangeStatus || !selected.selectedTime"
      nz-button nzType="primary" (click)="startShift()"
      [nzLoading]="state.loadChangeStatus">{{data?.statusName === 'Preoperative' ? 'Save' : 'Complete'}}</button>
    <button *ngIf="data?.statusName === 'Postoperative'" [disabled]="state.loadChangeStatus" nz-button nzType="primary"
      (click)="startShift()"
      [nzLoading]="state.loadChangeStatus">{{data?.statusName === 'Preoperative' ? 'Save' : 'Complete'}}</button>
  </ng-template>
</nz-modal>

