<div class="pos-relative" style="padding: 10px">
  <div class="row">
    <div class="col-6">
      <nz-form-item>
        <nz-form-label style="text-align: left" nzFor="date">
          <b style="font-size: 1.2em">Date</b>
        </nz-form-label>
        <nz-form-control>
          <nz-date-picker name="date" id="date" nzFormat="dd-MM-yyyy" [ngModel]="date"
            (ngModelChange)="changeDate($event)">
          </nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="col-6">
      <nz-form-item>
        <nz-form-label style="text-align: left">
          <b style="font-size: 1.2em">Time</b>
        </nz-form-label>
        <nz-form-control>
          <h1><b style="color: #009ABB">{{serverTime | date: 'HH : mm : ss'}}</b></h1>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <!--loading-->
  <div *ngIf="state.load" class="container" style="text-align: center">
    <nz-spin class="isLoad" [nzSize]="'large'"></nz-spin>
  </div>

  <ng-container *ngIf="!state.load && state.finish">
    <div nz-row class="w-full mb-2">
      <div nz-col nzSpan="12">
        <h2>List rooms available</h2>
      </div>
      <div nz-col nzSpan="12" class="pr-2">
        <div class="d-flex">
          <nz-input-group class="mr-2" [nzSuffix]="suffixIconSearch">
            <input [(ngModel)]="state.searchText" type="text" nz-input placeholder="Search by Id1, Id2, ...">
          </nz-input-group>
          <ng-template #suffixIconSearch>
            <i nz-icon type="search"></i>
          </ng-template>
          <button *ngIf="!state.swapMode" (click)="state.swapMode = true" nz-button nzType="primary">Enable Swap
          </button>
          <button nz-popconfirm nzTitle="Are You Sure You Want To Swap ?" [nzCancelText]="'Cancel'"
            (nzOnConfirm)="swapShift()" *ngIf="state.swapMode"
            [disabled]="!selected.firstShiftId  || !selected.secondShiftId" nz-button nzType="primary" class="mr-2">Swap
          </button>
          <button *ngIf="state.swapMode" (click)="disabled()" nz-button nzType="default">Disable Swap</button>
        </div>
      </div>
    </div>
    <div class="mt-3 mb-5 d-flex">
      <span class="mr-auto">
        <button (click)="isShowEmergency = true" nz-button nzType="primary">
          Add Emergency Shift
        </button>
      </span>
      <label class="mr-2"><b>Status : </b></label>
      <nz-tag [nzColor]="'#ffd54f'">Proceeding</nz-tag>
      <nz-tag [nzColor]="'#ef5350'">Completed</nz-tag>
    </div>
    <!-- Room Container -->
    <div id="room-container" class="room-container">
      <ng-container *ngFor="let room of rooms | roomPipe: state.searchText">
        <div *ngIf="room !== -1" class="date">
          <!-- Room header -->
          <div class="room-name">
            <div class="rotate">
              {{room.name}}
            </div>
          </div>
          <!-- Room-slot -->
          <div class="slot-group-container">
            <div class="slot" *ngFor="let slot of room.slotRooms">
              <div class="slot-name">
                {{slot.name}}
              </div>
              <div [id]="slot.id" class="slot-container p-3" droppable [dropScope]="getScope(slot)"
                (onDrop)="dropNode($event)">
                <ng-container *ngIf="slot.surgeries?.length > 0; else noData">
                  <!-- Room Surgery -->
                  <app-schedule-card *ngFor="let surgery of slot.surgeries" [data]="surgery" [parentId]="slot.id"
                    [(swapMode)]="state.swapMode" (openModal)="openModal($event)" [(selected)]="selected">
                  </app-schedule-card>
                </ng-container>
                <ng-template #noData>
                  <nz-card class="surgery nodata text-center">
                    <b>No record</b>
                  </nz-card>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="room === -1" class="noMatch">
          <h4>No Match</h4>
        </div>
      </ng-container>
    </div>
  </ng-container>
  <!--Modal-->
  <nz-modal [nzWidth]="'700px'" style="width: 40%" (nzOnCancel)="cancel()" [(nzVisible)]="isVisible"
    [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter">
    <ng-template #modalTitle>
      Change Schedule
    </ng-template>
    <ng-template #modalContent>
      <nz-tabset [nzTabPosition]="'left'">
        <nz-tab nzTitle="Duration">
          <app-duration #duration [id]="selectedObject?.id" (detectChanges)="this.state.reload = true"></app-duration>
        </nz-tab>
      </nz-tabset>
    </ng-template>
    <ng-template #modalFooter>
      <button nz-button nzType="default" (click)="cancel()">Close</button>
    </ng-template>
  </nz-modal>
  <!-- Modal -->
  <nz-modal [nzWidth]="'400px'" style="width: 40%" (nzOnCancel)="isShowEmergency = false; createEmergencyForm()"
    [(nzVisible)]="isShowEmergency" [nzTitle]="'Emergency Shift'" [nzContent]="emergencyBody"
    [nzFooter]="emergencyFooter">
    <ng-template #emergencyBody>
      <nz-spin [nzSpinning]="state.create">
        <form *ngIf="emergencyForm" [formGroup]="emergencyForm">
          <nz-form-item>
            <nz-form-label>Start Time</nz-form-label>
            <nz-form-control>
              <nz-date-picker [nzDisabledDate]="disabledStartDate" [nzShowTime]="{nzFormat: 'HH:mm'}" nzFormat="dd/MM/yyyy - HH:mm"
                formControlName="startTime" nzPlaceHolder="Start Time">
              </nz-date-picker>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label>End Time</nz-form-label>
            <nz-form-control>
              <nz-date-picker [nzDisabledDate]="disabledEndDate" [nzShowTime]="{nzFormat: 'HH:mm'}" nzFormat="dd/MM/yyyy - HH:mm"
                formControlName="endTime" nzPlaceHolder="End Time">
              </nz-date-picker>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <label nz-checkbox formControlName="isForceAdd">
                <span>Force Add Emergency</span>
              </label>
            </nz-form-control>
          </nz-form-item>
        </form>
      </nz-spin>
    </ng-template>
    <ng-template #emergencyFooter>
      <button [disabled]="state.create" nz-button nzType="default" class="mr-2"
        (click)="isShowEmergency = false">Close</button>
      <button [disabled]="state.create || emergencyForm.invalid" nz-button nzType="primary"
        (click)="createShift()">Create</button>
    </ng-template>
  </nz-modal>
  <!-- Loader -->
  <div *ngIf="loadingId" class="backdrop pos-absolute top-0 left-0 right-0 bottom-0"
    style="background: rgba(0,0,0,.5); z-index: 1000">
  </div>
</div>
<!-- Swal -->
<swal #moveNodeconfirm title="Swap Shift ?" [showCancelButton]="false" [showConfirmButton]="false"
  [showCloseButton]="true" (cancel)="setNode(null)">
  <div *swalPartial class="text-center pt-3">
    <button (click)="moveToRoom(false)" nz-button nzType="primary" class="mr-2">Swap</button>
    <button (click)="moveToRoom(true)" nz-button nzType="danger">Force Swap</button>
  </div>
</swal>