<div class="pos-relative" style="padding: 10px">
  <nz-form-item>
    <nz-form-label style="text-align: left" [nzSpan]="1" nzFor="date">
      <b style="font-size: 1.2em">Date</b>
    </nz-form-label>
    <nz-form-control [nzSpan]="14">
      <nz-date-picker name="date" id="date"
                      nzFormat="dd-MM-yyyy"
                      [ngModel]="date" (ngModelChange)="changeDate($event)"></nz-date-picker>
    </nz-form-control>
  </nz-form-item>
  <!--loading-->
  <div *ngIf="state.load" class="container" style="text-align: center">
    <nz-spin class="isLoad" [nzSize]="'large'"></nz-spin>
  </div>
  <ng-container *ngIf="!state.load && state.finish">
    <div nz-row class="w-full">
      <div nz-col nzSpan="12">
        <h2>List rooms available</h2>
      </div>
      <div nz-col nzSpan="12" class="pr-2">
        <div class="d-flex">
          <nz-input-group class="mr-2" [nzSuffix]="suffixIconSearch">
            <input [(ngModel)]="state.searchText" type="text" nz-input
                   placeholder="Search by Id1, Id2, ...">
          </nz-input-group>
          <ng-template #suffixIconSearch>
            <i nz-icon type="search"></i>
          </ng-template>
          <button *ngIf="!state.swapMode" (click)="state.swapMode = true" nz-button nzType="primary">Enable Swap
          </button>
          <button (click)="swapShift()" class="mr-2" *ngIf="state.swapMode"
                  [disabled]="!selected.firstShiftId  || !selected.secondShiftId" nz-button
                  nzType="primary">Swap
          </button>
          <button *ngIf="state.swapMode" (click)="disabled()" nz-button nzType="default">Disable Swap</button>
        </div>
      </div>
    </div>
    <div class="room-container">
      <ng-container *ngFor="let room of rooms | roomPipe: state.searchText">
        <div *ngIf="room !== -1" class="date">
          <nz-card class="room header">
            {{room.name}}
          </nz-card>
          <ng-container *ngIf="room?.surgery?.length > 0; else noData">
            <div class="room-detail-container" [id]="room.id" droppable [dropScope]="getScope(room)" (onDrop)="dropNode($event)">
              <app-schedule-card *ngFor="let block of room.surgery" [data]="block" [parentId]="room.id"
                                 [(swapMode)]="state.swapMode"
                                 [(selected)]="selected" (clickCard)="openModal($event)"
                                 (openModal)="openModal($event)"></app-schedule-card>
            </div>
          </ng-container>
          <ng-template #noData>
            <nz-card class="room nodata">
              <b>No record</b>
            </nz-card>
          </ng-template>
        </div>
        <div *ngIf="room === -1" class="noMatch">
          <h4>No Match</h4>
        </div>
      </ng-container>
    </div>
  </ng-container>
  <!--Modal-->
  <nz-modal
    [nzWidth]="'50%'"
    style="width: 40%"
    (nzOnCancel)="cancel()"
    [(nzVisible)]="isVisible"
    [nzTitle]="modalTitle"
    [nzContent]="modalContent"
    [nzFooter]="modalFooter">
    <ng-template #modalTitle>
      Change Schedule
    </ng-template>
    <ng-template #modalContent>
      <nz-tabset [nzTabPosition]="'left'">
        <nz-tab nzTitle="Duration">
          <app-duration #duration [id]="selectedObject?.id" (detectChanges)="this.state.reload = true"></app-duration>
        </nz-tab>
      </nz-tabset>
    </ng-template>
    <ng-template #modalFooter>
      <button nz-button nzType="default" (click)="cancel()">Close</button>
    </ng-template>
  </nz-modal>

  <div *ngIf="loadingId" class="backdrop pos-absolute top-0 left-0 right-0 bottom-0" style="background: rgba(0,0,0,.5); z-index: 1000">
  </div>
</div>
