<div class="row pb-4">
  <div class="col-12 pb-4">
    Filter by :
  </div>
  <div class="col-6 pb-4">
    <label>Actual Date</label>
    <nz-date-picker style="width: 100%" nzFormat="DD / MM / YYYY" [ngModel]="tableConfig.actualEnd"
                    (ngModelChange)="tableConfig.actualEnd = $event; loadTable()"></nz-date-picker>
  </div>
  <div class="col-6 pb-4">
    <label>Doctor</label>
    <nz-select
      style="width: 100%"
      nzShowSearch
      nzAllowClear
      nzPlaceHolder="Select a doctor"
      [ngModel]="tableConfig.doctorId"
      (nzOnSearch)="changeDoctorName($event)"
      (nzScrollToBottom)="scrollDoctorToBotom()"
      (ngModelChange)="tableConfig.doctorId = $event; loadTable()">
      <nz-option *ngFor="let data of doctorConfig.data" [nzLabel]="data.name" [nzValue]="data.id">
      </nz-option>
    </nz-select>
  </div>
  <div class="col-4 pb-4">
    <label>Specialty</label>
    <nz-select
      style="width: 100%"
      nzShowSearch
      nzAllowClear
      nzPlaceHolder="Select a specialty"
      [ngModel]="tableConfig.specialtyId"
      (nzOnSearch)="changeSpecialtyName($event)"
      (nzScrollToBottom)="scrollSpecialtyToBotom()"
      (ngModelChange)="tableConfig.specialtyId = $event; loadTable()">
      <nz-option *ngFor="let data of specialtyConfig.data" [nzLabel]="data.name" [nzValue]="data.id">
      </nz-option>
    </nz-select>
  </div>
  <div class="col-4 pb-4">
    <label>Catalog</label>
    <nz-select
      style="width: 100%"
      nzShowSearch
      nzAllowClear
      nzPlaceHolder="Select a Catalog"
      [ngModel]="tableConfig.surgeryId"
      (nzOnSearch)="changeSpecialtyName($event)"
      (nzScrollToBottom)="scrollCatalogToBotom()"
      (ngModelChange)="tableConfig.surgeryId = $event; loadTable()">
      <nz-option *ngFor="let data of catalogConfig.data" [nzLabel]="data.name" [nzValue]="data.id">
      </nz-option>
    </nz-select>
  </div>
  <div class="col-4 pb-4">
    <label>Status</label>
    <nz-select
      style="width: 100%"
      nzAllowClear
      nzPlaceHolder="All"
      [ngModel]="tableConfig.status"
      (ngModelChange)="tableConfig.status = $event; loadTable()">
      <nz-option [nzValue]="1" nzLabel="Preoperative">
      </nz-option>
      <nz-option [nzValue]="2" nzLabel="Intraoperative">
      </nz-option>
      <nz-option [nzValue]="3" nzLabel="Postoperative">
      </nz-option>
      <nz-option [nzValue]="4" nzLabel="Recovery">
      </nz-option>
      <nz-option [nzValue]="5" nzLabel="Finish">
      </nz-option>

    </nz-select>
  </div>
</div>

<nz-table #postOP
          [nzLoading]="tableConfig.load"
          [nzData]="tableConfig.data"
          [nzFooter]="footerTable"
          [nzFrontPagination]="false"
          [(nzPageSize)]="tableConfig.pageSize"
          [(nzPageIndex)]="tableConfig.pageIndex"
          (nzPageIndexChange)="changePage($event)"
          [nzTotal]="tableConfig.totalConfig.total">
  <thead>
  <tr>
    <th>No.</th>
    <th>Shift ID</th>
    <th>Patient Name</th>
    <th>Surgery Name</th>
    <th>Surgeon Name</th>
    <th>Status Name</th>
    <th>Duration</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of postOP.data; let i = index">
    <td>{{(tableConfig.pageSize * tableConfig.pageIndex) + (i + 1)}}</td>
    <td><a (click)="redirect(data.id)">{{data.id}}</a></td>
    <td>{{data.patientName}}</td>
    <td>{{data.surgeryName}}</td>
    <td>{{data.surgeonName}}</td>
    <td>
      <ng-container [ngSwitch]="data.statusName">
        <nz-tag *ngSwitchCase="'Preoperative'" [nzColor]="'purple'">Preoperative</nz-tag>
        <nz-tag *ngSwitchCase="'Intraoperative'" [nzColor]="'red'">Intraoperative</nz-tag>
        <nz-tag *ngSwitchCase="'Postoperative'" [nzColor]="'blue'">Postoperative</nz-tag>
        <nz-tag *ngSwitchCase="'Recovery'" [nzColor]="'orange'">Recovery</nz-tag>
        <nz-tag *ngSwitchCase="'Finished'" [nzColor]="'green'">Finished</nz-tag>
      </ng-container>
    </td>
    <td>{{data.duration}}</td>
  </tr>
  </tbody>
</nz-table>

<ng-template #footerTable>
  <p class="text-right">
    <b style="font-weight: bold; color: #004d40">Total Result </b>: {{tableConfig.totalConfig.total}}
  </p>
  <ng-container *ngIf="!tableConfig.load && tableConfig.status === null">
    <p class="text-right">
      <nz-tag [nzColor]="'purple'">Total Preoperative</nz-tag>: {{tableConfig.totalConfig.totalPreop}}
    </p>
    <p class="text-right">
      <nz-tag [nzColor]="'red'">Total Intraoperative</nz-tag>: {{tableConfig.totalConfig.totalIntra}}
    </p>
    <p class="text-right">
      <nz-tag [nzColor]="'blue'">Total Postoperative</nz-tag>: {{tableConfig.totalConfig.totalPostop}}
    </p>
    <p class="text-right">
      <nz-tag [nzColor]="'orange'">Total Recovery</nz-tag>: {{tableConfig.totalConfig.totalRecovery}}
    </p>
    <p class="text-right">
      <nz-tag [nzColor]="'green'">Total Finish</nz-tag>: {{tableConfig.totalConfig.totalFinished}}
    </p>
  </ng-container>
</ng-template>
