.primary-table {
    background: #e8f5e9 !important
}

.primary-table th{
    background: #09425A;
    color: white
}

.primary-table td{
    background: white;
}

/deep/ .ant-tabs-nav .ant-tabs-tab-active {
    background: #09425A;
    color: #FFFFFF;
  }