.navbar-layout {
    background: white;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}

.navbar-layout img {
    height: 100%;
}

.logo {
    height: 64px;
    display: flex;
    align-items: center;
    background: white;
}

.logo img {
    display: inline-block;
    height: 100%;
    object-fit: contain;
    vertical-align: middle;
}

.logo img+span {
    color: #001529;
    font-size: 30px;
    font-weight: bold;
}

.layout {
    height: 100vh;
}

.footer {
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
    background: white;
}

.header-gradient {
    background: linear-gradient(40deg, #00C894, #01C290, #01BC8D , #01B98B) !important;
    color: white;
    font-weight: bold;
}

.navbar-background {
    background: #e8f5e9 !important;
}
.background-layout-content {
    background: white !important;
}