.navbar-layout {
    background: white;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}

.navbar-layout img {
    height: 100%;
}

.logo {
    height: 64px;
    display: flex;
    align-items: center;
    background: white;
}

.logo img {
    display: inline-block;
    height: 100%;
    object-fit: contain;
    vertical-align: middle;
}

.logo img+span {
    color: #001529;
    font-size: 30px;
    font-weight: bold;
}

.layout {
    height: 100vh;
}

.footer {
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
    background: white;
}

.header-gradient {
    background: linear-gradient(40deg, #00C894, #01C290, #01BC8D , #01B98B) !important;
    color: white;
    font-weight: bold;
}

.navbar-background {
    background: #e8f5e9 !important;
}
.background-layout-content {
    background: white !important;
}

/* Notification */
.dropdown {
    display:inline-block;
    margin-left:20px;
    padding:10px;
  }


.glyphicon-bell {
   
    font-size:1.5rem;
  }

.notifications {
   min-width:420px; 
  }
  
  .notifications-wrapper {
     overflow:auto;
      max-height:250px;
    }
    
 .menu-title {
     color:#ff7788;
     font-size:1.5rem;
      display:inline-block;
      }
 
.glyphicon-circle-arrow-right {
      margin-left:10px;     
   }
  
   
 .notification-heading, .notification-footer  {
 	padding:2px 10px;
       }
      
        
.dropdown-menu.divider {
  margin:5px 0;          
  }

.item-title {
  
 font-size:1.3rem;
 color:#000;
    
}

.notifications a.content {
 text-decoration:none;
 background:#ccc;

 }
    
.notification-item {
 padding:10px;
 margin:5px;
 background:#ccc;
 border-radius:4px;
 }
/deep/ .ant-layout-content{
  min-height: fit-content;
}
