<nz-layout class="layout">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="triggerTemplate">
    <div style="cursor: pointer" routerLink="/" class="logo">
      <img src="assets/logo.png" class="mr-1" alt="">
      <span style="color: #10867A" [hidden]="isCollapsed">EBSMS</span>
    </div>
    <ul class="navbar-background" nz-menu [nzMode]="'inline'" style="height:100%">
      <ng-container *ngFor="let item of menu">
        <li *ngIf="user.data && item.roles.indexOf(user.data.role) !== -1" [routerLinkActive]="'ant-menu-item-selected'"
          [routerLinkActiveOptions]="{exact: true}" nz-menu-item [routerLink]="item.link">
          <span title>
            <i nz-icon [type]="item.icon"></i>
            {{item.name}}
          </span>
        </li>
      </ng-container>
    </ul>
  </nz-sider>
  <nz-layout style="overflow: hidden" style="background: #c8e6c9">
    <nz-header class="navbar-layout header-gradient">
      <div style="height: 100%" class="d-flex align-items-center">
        <i class="trigger" style="cursor: pointer" nz-icon [type]="isCollapsed?'menu-unfold':'menu-fold'"
          (click)="isCollapsed=!isCollapsed"></i>
        <div class="mr-auto"></div>        
        <nz-dropdown [nzPlacement]="'bottomRight'" [nzTrigger]="'click'" style="margin-right: 30px">
          <a nz-dropdown><nz-badge [nzCount]="msgs.length"><i class="far fa-bell" ></i></nz-badge></a>
          <ul nz-menu style="width: 350px; height: 200px">
            <li style="text-align: center">Notification</li>
            <li nz-menu-divider></li>
            <div *ngIf="msgs.length > 0; else noNotification">
              <div *ngFor="let msg of msgs">
                <li nz-menu-item style="width: 100%">
                  {{msg.content}}
                  <!-- <span style="float: right; font-size: 10px;">{{msg.dateCreated | date: 'HH : mm dd/MM/yyyy'}}</span> -->
                </li>
              </div>
              <div *ngIf="msgs.length == 0">
                <li nz-menu-item style="text-align: center">No notification</li>
              </div>
            </div>
          </ul>
        </nz-dropdown>
        <nz-dropdown *ngIf="user?.data" class="user-dropdown">
          <a nz-dropdown class="d-flex justify-content-center align-items-center">
            <nz-avatar [nzSize]="'small'" nzIcon="user"></nz-avatar>
            <span class="pr-1 pl-1">{{user.data.name}} </span>
            <i nz-icon type="down"></i>
          </a>
          <ul nz-menu nzSelectable>
            <li (click)="logout()" nz-menu-item>
              <a><i nz-icon type="logout" theme="outline"></i> Logout</a>
            </li>
          </ul>
        </nz-dropdown>
      </div>
    </nz-header>

    <nz-content style="margin: 15px;" class="background-layout-content z-depth-1">
      <div style="padding:30px">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer style="background: #e0e0e0; color: #004d40; font-weight: bold">
        Surgery Management System (eBSMS) - 
        Made by Surgery Project Team
    </nz-footer>
  </nz-layout>
</nz-layout>