
.login-dark {
  height: 100vh;
  background-image: url(/assets/background_hospital.jpg);
  background-size: cover;
  position: relative;
  z-index: 1;
}
.login-dark::before {
  background-color: rgba(90, 90, 90, 0.65);
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.login-dark form {
  max-width: 400px; 
  width: 90%;
  background-color: white;
  padding: 40px;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 3px 3px 4px rgba(0,0,0,0.2);
}
.div-logo {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center
}
.login-dark .illustration {
  float: left;
  width: 150px;
  padding: 15px 0 20px;
  font-size: 100px;
  background-size: cover;
  background-image: url(/assets/logo.png);
}
.login-dark .title {

}

.form-control {
  width: 100%;
  background: none;
  border: none;
  border-bottom: 1px solid #434a52;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
  margin-top: 30px;
  color: black;
}

.login-dark form .btn-primary {
  background: #10867A;
  border: none;
  border-radius: 5px;
  padding: 11px;
  box-shadow: none;
  margin-top: 50px;
  text-shadow: none;
  outline: none;
  width: 100%;
}

.login-dark form .btn-primary:hover, .login-dark form .btn-primary:active {
  background: #54B8A0;
  outline: none;
}

.login-dark form .forgot {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #6f7a85;
  opacity: 0.9;
  text-decoration: none;
}

.login-dark form .forgot:hover, .login-dark form .forgot:active {
  opacity: 1;
  text-decoration: none;
}

.login-dark form .btn-primary:active {
  transform: translateY(1px);
}

