<div class="mb-3 d-flex">
  <button class="mr-auto" [disabled]="state.load" (click)="file.click()" nz-button nzType="primary" nzShape="round"><i
      nz-icon type="upload"></i>Import
    File
  </button>
  <ng-container *ngIf="data?.length > 0">
    <button [disabled]="state.load" (click)="importList()" class="mr-2" nz-button nzType="default" nzShape="round">
      Import All
    </button>
    <button [disabled]="state.load" (click)="clearResult()" nz-button nzType="danger" nzShape="round">
      Clear List
    </button>
  </ng-container>
</div>

<input #file (change)="handleFile($event)" type="file" class="d-none"
  accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
<nz-table #table [nzData]="data" nzShowSizeChanger [nzShowPagination]="false" nzBordered [nzFrontPagination]="false"
  [nzNoResult]="noData" [nzLoading]="state.load">
  <thead>
    <tr>
      <th [nzDisabled]="data.length === 0" nzShowCheckbox [(nzChecked)]="isAllCheck"
        (nzCheckedChange)="checkAll($event)" [nzIndeterminate]="isAllCheck"></th>
      <th>No</th>
      <th>Patient Name</th>
      <th>Gender</th>
      <th>Surgery Name</th>
      <th>Excepted Date</th>
      <th>Duration</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of table.data">
      <td nzShowCheckbox [(nzChecked)]="mapOfCheckedId[item.index]" (nzCheckedChange)="checkItem()"></td>
      <td>{{item.index + 1}}</td>
      <td>{{item.patientName}}</td>
      <td>{{item.gender}}</td>
      <td>{{item.surgeryName}}</td>
      <td>{{item.proposedStartDateTime ? item.proposedStartDateTime : 'N/A'}}</td>
      <td>{{item.proposedEndDateTime ? item.proposedEndDateTime : 'N/A'}}</td>
    </tr>
  </tbody>
</nz-table>

<ng-template #noData>
  <div style="text-align: center;">
    <i nz-icon type="file-text" theme="outline" style="font-size: 30px; margin-bottom: 10px"></i>
    <p>No Data</p>
  </div>
</ng-template>