<div class="mb-3 d-flex">
  <button class="mr-auto" [disabled]="state.load" (click)="file.click()" nz-button nzType="primary" nzShape="round"><i
      nz-icon type="upload"></i>Import
    File
  </button>
  <ng-container *ngIf="data?.length > 0">
    <button [disabled]="state.load" (click)="importList()" class="mr-2" nz-button nzType="default" nzShape="round">
      Import
    </button>
    <button [disabled]="state.load" (click)="clearResult()" nz-button nzType="danger" nzShape="round">
      Clear List
    </button>
  </ng-container>
</div>

<input #file (change)="handleFile($event)" type="file" class="d-none"
  accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
<nz-table #table [nzData]="data" nzShowSizeChanger [nzShowPagination]="false" nzBordered [nzFrontPagination]="false"
  [nzNoResult]="noData" [nzLoading]="state.load">
  <thead>
    <tr>
      <th [nzDisabled]="data.length === 0" nzShowCheckbox [(nzChecked)]="isAllCheck"
        (nzCheckedChange)="checkAll($event)" [nzIndeterminate]="isAllCheck"></th>
      <th>No</th>
      <th>Patient Name</th>
      <th>Gender</th>
      <th>Surgery Name</th>
      <th>Excepted DateTime</th>
      <th>Detail</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of table.data">
      <td nzShowCheckbox [(nzChecked)]="mapOfCheckedId[item.index]" (nzCheckedChange)="checkItem()"></td>
      <td>{{item.index + 1}}</td>
      <td>{{item.patientName}}</td>
      <td>{{item.gender === 1 ? 'M' : 'F'}}</td>
      <td>{{item.surgeryName}}</td>
      <td>{{item.ProposedDateTimeShow ? item.ProposedDateTimeShow : 'N/A'}}</td>
      <td>
        <button (click)="showModal(item)" nz-button nzType="default" nzShape="circle"><i nz-icon
            type="info"></i></button>
      </td>
    </tr>
  </tbody>
</nz-table>

<ng-template #noData>
  <div style="text-align: center;">
    <i nz-icon type="file-text" theme="outline" style="font-size: 30px; margin-bottom: 10px"></i>
    <p>No Data</p>
  </div>
</ng-template>

<nz-modal [(nzVisible)]="state.isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter"
  (nzOnCancel)="state.isVisible = false" [nzWidth]="'80vw'">
  <ng-template #modalTitle>
    Detail
  </ng-template>

  <ng-template #modalContent>
    <nz-card class="mb-4" nzType="inner" nzTitle="Patient Information" *ngIf="selectedObject">
      <div class="row">
        <div class="col-3">
          <p><span class="font-weight-bold">Patient Id:</span> {{selectedObject.patientId}}</p>
        </div>
        <div class="col-6">
          <p><span class="font-weight-bold">Patient:</span> {{selectedObject.patientName}}</p>
        </div>
        <div class="col">
          <p><span class="font-weight-bold">Gender:</span> {{selectedObject.gender === 1 ? 'M' : 'F'}}</p>
        </div>
        <div class="col">
          <p><span class="font-weight-bold">Age:</span> {{curYear - selectedObject.patientDob}}</p>
        </div>
      </div>
    </nz-card>
    <nz-card class="mb-4" nzType="inner" nzTitle="Surgery Information" *ngIf="selectedObject">
      <div class="row">
        <div class="col-6">
          <p><span class="font-weight-bold">Surgery Name:</span> {{selectedObject.surgeryName}}</p>
        </div>
        <div class="col-6">
          <p><span class="font-weight-bold">Surgery Weight:</span> {{selectedObject.surgeryWeight}}</p>
        </div>
        <div class="col-6">
          <p><span class="font-weight-bold">Doctor:</span> {{selectedObject.doctorName}}</p>
        </div>
      </div>
    </nz-card>
    <nz-card class="mb-4" nzType="inner" nzTitle="Medical Supplies" *ngIf="selectedObject">
      <div class="row">
        <div class="col mt-2">
          <nz-table [nzShowPagination]="false" [nzFrontPagination]="false" *ngIf="selectedObject" #basicTable [nzData]="selectedObject.detailMedical">
            <thead>
              <tr>
                <th>No.</th>
                <th>Name</th>
                <th>Quantity</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of basicTable.data; let i = index">
                <td>{{i + 1}}</td>
                <td>{{data.name}}</td>
                <td>{{data.quantity}}</td>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
    </nz-card>
  </ng-template>

  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="state.isVisible = false">Cancel</button>
  </ng-template>
</nz-modal>